:root {
    --teal: #0491c5;
    --orange: #f57e20;
    --purple: #7654a3;
    --red: #ef4339;
  }

img {
    width:  100%;
}

.nav-item {
    font-family: "Barlow", "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 1 rem;
    color: black;
}

.nav-link active {
    color: black;
    font-weight: bold;
}

.nav-link {
    color: var(--red);
}

.tsLogo {
    max-width: 35%;
    text-align: center;
    height: auto;
    z-index: 1;
    position: absolute;
    margin-top: -40%;
    margin-left: -18%;
    padding: 0%, 0%;
   -webkit-filter: drop-shadow(2px 2px 2px gray );
    filter: drop-shadow(2px 2px 2px gray);
}

.header {
    width: 100%vw;
    height: 100%vh;
    /* margin: auto; */
    text-align: center;
    position:relative;
    z-index: 0;
}

.words {
    position: relative;
    margin: auto;
    margin-top: -140px;
    padding: 15%;
    width: 100%vw;
    height: 100%vh;
    z-index: 0;
}

#hello {
    color: var(--red);
    margin-top: 0%;
    text-align: center;

}

.lead-intro {
    margin: auto;
    text-align: center;
    margin-top: 0%;
    font-weight:300;
    font-size: 1rem;
    font-family: "Barlow", "Helvetica", sans-serif;
    line-height: 1.6em;
}


.button-glow {
    animation: glowing 5000ms infinite;
}
      
.jumbotron {
    z-index: 1;
    position: relative;
    margin-top: -10%;
    background-color: #d2eef5;
}

.display-4 {
    font-family: "Barlow", "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 3rem; 
    color: var(--teal);
}

.object {
    font-weight:500;
    font-family: "Barlow", "Helvetica", sans-serif;
    font-size: 1.8rem;
}



.lead-intro strong {
    font-weight: 700;
    letter-spacing: 1px;
    color:var(--red);
}

.lead {
    font-weight:300;
    font-size: 1rem;
    font-family: "Barlow", "Helvetica", sans-serif;
    line-height: 1.6em;
}

.lead strong {
    font-weight: 700;
    letter-spacing: 1px;
    color:var(--teal);
}

.lead-smaller {
    font-weight:300;
    color:var(--teal);
    font-size: .9rem;
    padding-top: 10px;
    font-family: "Barlow", "Helvetica", sans-serif;
    line-height: 1.6em;
}


.row-Work {
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;    
}

.card {
    display:inline-block;
    margin: 10px;
    box-shadow: 2px 2px 3px #a7a8a8;
}

.jumbotron-fluid2 {
    background-color:#fadac1;
    padding: 5%;
}

.card-text {
    font-family: "Barlow", "Helvetica", sans-serif; 
    font-size: 1em;
}

#contact {
    color: var(--orange);
    text-align: center;
}

.rounded-pill {
    margin-top: 3%;
    margin-bottom: 3%;
}

#myForm {
    margin-top: 5%;
    padding: 5%;
}

#comment {
    border-radius: 20px;
    color: rgb(180, 179, 179);
    font-family: "Barlow", "Helvetica", sans-serif;
    font-weight:300; 
    font-size: 1em;

}
#usr {
    font-family: "Barlow", "Helvetica", sans-serif;
    font-weight:300; 
    font-size: 1em;
}

.btn {
    margin-top: 30px;
    background-color: var(--orange);
    border: 2px solid white;
    width: 140px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 1em; 
}


.rt-margin {
   padding-right: 2%;
}

#resume {
    margin-bottom: 20%;
    box-shadow: 1px 1px 2px #a7a8a8;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%;
}
  
.fa:hover {
      opacity: 0.7;
  }

.social-buttons {
  text-align: center;
  width: 50px;
  margin-left: 2%;
  margin-right: 2%;
}

.footer{
    background-color: gray;
    text-align: center;
   margin-bottom: -10px;
   padding-top: 10px;
}

#footer-text {
  font-weight:300;
  color: white;
  font-size: .8rem;
  padding-top: 0px;
}

/* BRAIN FADE */
.brain {
    -webkit-animation: fade 35s alternate infinite;
    animation: fade 3s alternate infinite;
    display: block;
    text-align: center;
}

@-webkit-keyframes fade {
  0% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }

}


